[Unit]
Description=Teleport SSH Service
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
Restart=on-failure
ExecStartPre=/bin/sh -c 'if [ ! -e /etc/teleport.yaml ]; then /usr/local/bin/teleport configure > /etc/teleport.yaml ; fi'
ExecStart=/usr/local/bin/teleport start --config=/etc/teleport.yaml --pid-file=/run/teleport.pid
ExecReload=/bin/kill -HUP $MAINPID
PIDFile=/run/teleport.pid

[Install]
WantedBy=multi-user.target
