on:
  workflow_dispatch:
    inputs:
      tp_version:
        description: 'Teleport Version'
        required: true
        default: 'v2.3.0'
      go_version:
        description: 'Golang Version'
        required: false
        default: ''
  push:
    branches:
    - ci

env:
  GOOS: linux
  UPSTREAM: github.com/gravitational/teleport

jobs:
  build:
    runs-on: ubuntu-18.04
    container: ubuntu:trusty
    defaults:
      run:
        shell: bash
    strategy:
      fail-fast: false
      matrix:
        include:
        - name: i386
          go_arch: 386
          cargo_target: i686-unknown-linux-gnu
        - name: amd64
          go_arch: amd64
          cargo_target: x86_64-unknown-linux-gnu
        - name: armel
          go_arch: arm
          go_arm: 5
          cc: arm-linux-gnueabi-gcc
        - name: armhf
          go_arch: arm
          go_arm: 6
          cc: arm-linux-gnueabihf-gcc
          cargo_target: arm-unknown-linux-gnueabihf
        - name: arm64
          go_arch: arm64
          cc: aarch64-linux-gnu-gcc
          cargo_target: aarch64-unknown-linux-gnu

    steps:
    - name: checkout ci
      uses: actions/checkout@v2
      with:
        ref: ci
        path: ci
        fetch-depth: 1
        token: ${{ secrets.GH_PAT }}

    - name: vars
      id: vars_ci
      run: |
        echo "::set-output name=LATEST::$(cat ci/LATEST)"
        if [[ -n "${{ github.event.inputs.tp_version }}" ]]; then
                echo "::set-output name=REF::${{ github.event.inputs.tp_version }}"
        else
                echo "::set-output name=REF::$(tail -n1 ci/VERSIONS)"
        fi

    - name: checkout source
      uses: actions/checkout@v2
      with:
        ref: ${{ steps.vars_ci.outputs.REF }}
        path: go/src/${{ env.UPSTREAM }}
        fetch-depth: 1
        token: ${{ secrets.GH_PAT }}

    - name: install arch deps
      run: |
        if [[ -n "${{ matrix.go_arch }}" ]]; then sudo apt-get update ; fi
        if [[ "${{ matrix.go_arch }}" == "386" ]]; then sudo apt-get -f -y install gcc-multilib libc6-dev-i386 ; fi
        if [[ "${{ matrix.go_arch }}" == "arm64" ]]; then sudo apt-get -f -y install gcc-aarch64-linux-gnu libc6-arm64-cross libc6-dev-arm64-cross ; fi
        if [[ "${{ matrix.go_arch }}" == "arm" && "${{ matrix.name }}" == "armhf" ]]; then sudo dpkg --add-architecture armhf ; sudo apt-get -f -y install gcc-arm-linux-gnueabihf libc6-armhf-cross libc6-dev-armhf-cross libc6-armhf-armel-cross libc6-dev-armhf-armel-cross ; fi
        if [[ "${{ matrix.go_arch }}" == "arm" && "${{ matrix.name }}" == "armel" ]]; then
          sudo dpkg --add-architecture armel
          sudo apt-get -f -y install gcc-arm-linux-gnueabi libc6-armel-cross libc6-dev-armel-cross libc6-armel-armhf-cross libc6-dev-armel-armhf-cross
          sudo ln -s "$(which arm-linux-gnueabi-gcc)" "$(dirname $(which arm-linux-gnueabi-gcc))/arm-linux-gnueabihf-gcc"
        fi
        if [[ -z "$(which rustup)" ]]; then
          sudo apt-get -f -y install curl
          curl https://sh.rustup.rs -sSf | sh -s -- --default-toolchain none -y -q
        fi
        if [[ -n "${{ matrix.cargo_target }}" ]]; then
          rustup target add ${{ matrix.cargo_target }}
        else
          rustup self uninstall -y
        fi

    - name: vars
      id: vars
      run: |
        VERSION=$(awk -F '=' '/^VERSION=/{print $NF}' go/src/${{ env.UPSTREAM }}/Makefile)
        if [[ "v${VERSION}" != "${{ steps.vars_ci.outputs.REF }}" ]]; then
                echo "::error ::Makefile and tag didn't match (${VERSION} != ${{ steps.vars_ci.outputs.REF }})"
                exit 1
        fi
        echo "::set-output name=pkg_ver::${VERSION}"
        GO_VERSION=""
        if [[ -z "${GO_VERSION}" && -n "${{ github.event.inputs.go_version }}" ]]; then
                GO_VERSION="${{ github.event.inputs.go_version }}"
        fi
        if [[ -z "${GO_VERSION}" ]]; then
                MAJOR=$(echo "${{ steps.vars_ci.outputs.REF }}" | cut -d '.' -f1)
                MINOR=$(echo "${{ steps.vars_ci.outputs.REF }}" | cut -d '.' -f2)
                OVERRIDE=$(grep "^${MAJOR}.${MINOR}," ci/golang.override | cut -d ',' -f2)
                if [[ -n "${OVERRIDE}" ]]; then
                        GO_VERSION="${OVERRIDE}"
                fi
                
        fi
        if [[ -z "${GO_VERSION}" && -e "go/src/${{ env.UPSTREAM }}/go.mod" ]]; then
                GO_VERSION="$(awk '/^go /{print $NF}' go/src/${{ env.UPSTREAM }}/go.mod)"
        fi
        if [[ -z "${GO_VERSION}" ]]; then
                MAJOR=$(echo "${{ steps.vars_ci.outputs.REF }}" | cut -d '.' -f1)
                OVERRIDE=$(grep "^${MAJOR}," ci/golang.override | cut -d ',' -f2)
                if [[ -n "${OVERRIDE}" ]]; then
                        GO_VERSION="${OVERRIDE}"
                fi
        fi
        echo "::set-output name=go_version::${GO_VERSION:-1.16}"

    - uses: actions/setup-go@v2
      with:
        stable: 'true'
        go-version: '${{ steps.vars.outputs.go_version }}'

    - name: make tar.gz
      id: make
      env:
        GOARCH: ${{ matrix.go_arch }}
        GOARM: ${{ matrix.go_arm }}
        CC: ${{ matrix.cc }}
        GOPATH: /home/runner/work/teleport/teleport/go
      run: |
        mkdir artifacts
        cd go/src/${{ env.UPSTREAM }}
        if [[ -n "${CC}${CXX}" || "${GOHOSTARCH}" != "${GOARCH}" ]]; then export CGO_ENABLED=1 ; fi
        go env
        make release

        BUNDLE=$(ls -1 | grep 'teleport-.*\(zip\|tar.gz\)')
        NEW_BUNDLE="teleport-${{ steps.vars_ci.outputs.REF }}-${{ env.GOOS }}-${{ matrix.name }}.tar.gz"
        mv ${BUNDLE} ${GITHUB_WORKSPACE}/artifacts/${NEW_BUNDLE}
        echo "::set-output name=artifact::artifacts/${NEW_BUNDLE}"

    - name: package
      run: |
        mkdir bin
        wget -q https://github.com/goreleaser/nfpm/releases/download/v2.6.0/nfpm_2.6.0_Linux_x86_64.tar.gz -O /tmp/nfpm.tar.gz
        tar -xvf /tmp/nfpm.tar.gz -C bin nfpm
        chmod +x bin/nfpm
        mkdir tmp
        sed -e 's#%VERSION%#${{ steps.vars_ci.outputs.REF }}#g' -e 's#%ARCH%#${{ matrix.name }}#g' ci/nfpm.yaml > nfpm.yaml
        tar -xvf ${{ steps.make.outputs.artifact }} -C tmp --strip-components=1 teleport/teleport teleport/tctl teleport/tsh
        ./bin/nfpm package -f nfpm.yaml -p deb -t ${GITHUB_WORKSPACE}/artifacts/
        ./bin/nfpm package -f nfpm.yaml -p rpm -t ${GITHUB_WORKSPACE}/artifacts/
        

    - name: artifacts list
      run: |
        find artifacts

    - name: Release
      uses: softprops/action-gh-release@v0.1.12
      with:
        tag_name: ${{ steps.vars_ci.outputs.REF }}
        files: |
          artifacts/*
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  docker:
    runs-on: ubuntu-latest
    needs: [build]
    if: always()
    steps:
    - name: checkout ci
      uses: actions/checkout@v2
      with:
        ref: ci
        path: ci
        fetch-depth: 1
        token: ${{ secrets.GH_PAT }}

    - name: vars
      id: vars_ci
      run: |
        echo "::set-output name=LATEST::$(cat ci/LATEST)"
        if [[ -n "${{ github.event.inputs.tp_version }}" ]]; then
                INPUT="${{ github.event.inputs.tp_version }}"
        else
                INPUT=$(tail -n1 ci/VERSIONS)
        fi
        echo "::set-output name=REF::${INPUT}"
        if [[ "$(cat ci/LATEST)" == "${INPUT}" ]]; then
                echo "::set-output name=TAG::latest"
        else
                echo "::set-output name=TAG::dev"
        fi

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v1

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Log in to ghcr
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        registry: ghcr.io
        username: ${{ github.actor }}
        password: ${{ secrets.GITHUB_TOKEN }}

    - name: Log in to docker hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}

    - name: Extract metadata (tags, labels) for Docker
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: draconrose/teleport,ghcr.io/${{ github.repository_owner	 }}/teleport
        flavor: |
          latest=false
        tags: |
          type=semver,pattern=v{{major}}.{{minor}}.{{patch}},value=${{ steps.vars_ci.outputs.REF }}
          type=semver,pattern=v{{major}}.{{minor}},value=${{ steps.vars_ci.outputs.REF }}
          type=semver,pattern=v{{major}},value=${{ steps.vars_ci.outputs.REF }}
          type=raw,${{ steps.vars_ci.outputs.TAG }}

    - name: Identify platforms
      id: plat
      run: |
        ARCHES=""
        for arch in 'amd64,amd64' 'armhf,arm/v7' 'arm64,arm64/v8'; do
          EXISTS=$(curl --silent --head https://github.com/Zaephor/teleport/releases/download/${{ steps.vars_ci.outputs.REF }}/teleport-${{ steps.vars_ci.outputs.REF }}-linux-${arch%,*}.tar.gz | awk '/^HTTP/{print $2}')
          if [[ -n "${EXISTS}" && "${EXISTS}" != "40"* ]]; then
            if [[ -n "${ARCHES}" ]]; then
                ARCHES+=","
            fi
            ARCHES+="linux/${arch#*,}"
          fi
        done
        echo "::set-output name=ARCHES::${ARCHES}"

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        context: ci
        platforms: ${{ steps.plat.outputs.ARCHES }}
        push: true
        tags: ${{ steps.meta.outputs.tags }}
        labels: ${{ steps.meta.outputs.labels }}
        build-args:
          RELEASE=${{ steps.vars_ci.outputs.REF }}

